In [90]:
import numpy as np
import pandas as pd
Fix = pd.read_csv('main/FinancialLexicon.csv',error_bad_lines=False)

In [91]:
Fix.head()
Fix.shape

(86486, 19)

In [92]:
Fix = Fix [['Word','Word Count','Negative','Positive']]

In [93]:
Fix.head()

        Word  Word Count  Negative  Positive
0   AARDVARK         277         0         0
1  AARDVARKS           3         0         0
2      ABACI           8         0         0
3      ABACK          12         0         0
4     ABACUS        7250         0         0

In [94]:
#Keep only the values that have a non neutral sentiment
todrop = Fix[ (Fix['Negative'] == 0) & (Fix['Positive'] == 0)].index
Fix.drop(todrop, inplace = True)

In [95]:
Fix.head(20)

              Word  Word Count  Negative  Positive
9          ABANDON      103050      2009         0
10       ABANDONED      201921      2009         0
11      ABANDONING       18985      2009         0
12     ABANDONMENT      229801      2009         0
13    ABANDONMENTS        9276      2009         0
14        ABANDONS        7197      2009         0
51       ABDICATED         119      2009         0
52       ABDICATES           1      2009         0
53      ABDICATING          36      2009         0
54      ABDICATION         710      2009         0
55     ABDICATIONS           0      2009         0
70        ABERRANT        1128      2009         0
71      ABERRATION         890      2009         0
72    ABERRATIONAL          86      2009         0
73     ABERRATIONS        1483      2009         0
79        ABETTING       17667      2009         0
125           ABLE     4090099         0      2009
138       ABNORMAL       63112      2009         0
139  ABNORMALITIES        7952      2009         0
140    ABNORMALITY        1958      2009         0

In [96]:
Fix = Fix.sort_values('Word Count', ascending=False)

In [97]:
indexes = Fix[ Fix['Word Count'] < 1000 ].index
Fix.drop(indexes, inplace = True)

In [98]:
Fix.to_csv('Financial.csv', index = False)